<footer class="footer">
  <div class="footer__container container">
    <div class="footer__brand">
      <app-site-logo></app-site-logo>
      <p class="footer__description">
        Empowering readers to discover, track, and manage their literary journey. Your personal gateway to the world of
        books.
      </p>
    </div>

    <div class="footer__column">
      <h4 class="footer__title">Explore</h4>
      <ul class="footer__list">
        <li class="footer__item"><a class="footer__link" href="/">Home</a></li>
        <li class="footer__item"><a class="footer__link" href="/explore">Explore Books</a></li>
        <li class="footer__item"><a class="footer__link" href="/explore/new">New Arrival</a></li>
        <li class="footer__item"><a class="footer__link" href="/explore/best-seller">Best Sellers</a></li>
      </ul>
    </div>

    <div class="footer__column">
      <h4 class="footer__title">Support</h4>
      <ul class="footer__list">
        <li class="footer__item"><a class="footer__link" href="/help">Help Center</a></li>
        <li class="footer__item"><a class="footer__link" href="/terms">Terms of Service</a></li>
        <li class="footer__item"><a class="footer__link" href="/policy">Privacy Policy</a></li>
        <li class="footer__item"><a class="footer__link" href="/contact">Contact Us</a></li>
      </ul>
    </div>

    <div class="footer__column">
      <h4 class="footer__title">Contact</h4>
      <ul class="footer__list footer__list--contact">
        <li class="footer__item">
          <a class="footer__link footer__link--contact" href="mailto:support@bookverse.com">
            <app-icon ImagePath="assets/icons/mail.svg"></app-icon>
            <span>support@bookverse.com</span>
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link footer__link--contact" href="tel:+201282421657">
            <app-icon ImagePath="assets/icons/phone.svg"></app-icon>
            <span>+1 (555) 123-4567</span>
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link footer__link--contact" href="/contact">
            <app-icon ImagePath="assets/icons/map-pin.svg"></app-icon>
            <span>123 Literary Way, Reading City</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="footer__container footer__container--bottom">
      <span class="footer__copyright">&copy; {{Year}} BookVerse Inc. All rights reserved.</span>
    </div>
  </div>
</footer>