<main>
  <div class="">
    <div>
      <app-site-logo></app-site-logo>
      <p>Empowering readers to discover, track, and manage their literary journey. Your personal gateway to the world of
        books.</p>
    </div>
    <div>
      <h4>EXPLORE</h4>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/explore">Explore Books</a></li>
        <li><a href="/explore/new">New Arrival</a></li>
        <li><a href="/explore/best-seller">Best Sellers</a></li>
      </ul>
    </div>
    <div>
      <h4>SUPPORT</h4>
      <ul>
        <li><a href="/help">Help Center</a></li>
        <li><a href="/terms">Terms of Service</a></li>
        <li><a href="/policy">Privacy Policy</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
    <div>
      <h4>CONTACT</h4>
      <ul>
        <li><a href="mailto:support@bookverse.com">
            <img src="assets/icons/mail.svg">
            <p>support@bookverse.com</p>
          </a></li>
        <li><a href="tele:+201282421657">
            <img src="assets/icons/phone.svg">
            <p>+1 (555) 123-4567</p>
          </a></li>
        <li><a href="">
            <img src="assets/icons/map-pin.svg">
            <p>123 Literary Way, Reading City</p>
          </a></li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="">
    <span>&copy; {{Year}} BookVerse Inc. All right reserved.</span>
  </div>
</main>