<nav>
  <span class="Title">
    <a href="/">
      <app-site-logo></app-site-logo>
    </a>
  </span>
  <div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/explore">Explore</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
  <span>
    <img src="assets/icons/search.svg">
    <img src="assets/icons/shopping-bag.svg">
    <span>
      <span>
        <img src="assets/icons/user.svg">
        <h6>My Account</h6>
        <img src="assets/icons/arrow-down.svg">
      </span>
    </span>
  </span>
</nav>