<article class="book-card" role="link" tabindex="0" (click)="openDetails($event)" (keydown.enter)="openDetails($event)"
  (keydown.space)="openDetails($event)">
  <div class="book-card__cover">
    @if (coverImage) { <img [src]="coverImage" [alt]="title" /> } @else { <span>{{ title }}</span> }
  </div>
  <div class="book-card__body"><span class="book-card__genre">{{ genre }}</span>
    <h3>{{ title }}</h3>
    <p>{{ author }}</p>
    <div class="book-card__meta"><span><app-icon ImagePath="assets/icons/star.svg" Size=".85em"></app-icon> {{ rating }}
        {{ ratingCount }}</span><strong>{{ price }}</strong></div>
  </div>
</article>